.col-md-2 {
  padding: 0;
}
.col-md-10 {
  padding: 0;
}

.button-area {
  height: 400px;
  border: 1px solid black;
  text-align: center;
  margin-left: 10px;
}

.button-area div {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid gray;
  line-height: 30px;
}
.info-area {
  height: 400px;
  border: 1px solid black;
  text-align: center;
  margin-right: 10px;
}
